.venv/
__pycache__/
*.pyc
.env
.pytest_cache/
.streamlit/secrets.toml
data/raw/*
data/cache/*
data/processed/*
!data/**/.gitkeep
.DS_Store
.vscode/*
!.vscode/settings.json
*.egg-info/
!data/processed/approved_drugs.csv